.container-card-make {
  align-items: center;
  background-color: white;
  border: 8px double gold;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 0;
  padding: 30px;
  width: 500px;
}

label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  width: 80%;
}

p {
  background-color: white;
  height: 1.5em;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

img {
  border: 1px solid black;
  box-shadow: 5px 5px 8px gray;
  height: 40%;
  width: 60%;
}

hr .division {
  box-shadow: 5px 5px 8px gray;
  height: 2px;
  margin: 20px;
  width: 70%;
}

hr {
  box-shadow: 5px 5px 8px gray;
  height: 2px;
  margin: 10px;
  width: 70%;
}

.attribute {
  margin: 0;
  width: 40px;
}

.label-attribute {
  align-items: center;
  border: 1px solid gold;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2px 20px;
}

.power {
  background-color: red;
}

.speed {
  background-color: green;
}

.defense {
  background-color: blue;
}

.line-attribute {
  border: 2px dashed black;
  height: 1px;
}
