* {
    margin: 0;
    padding: 0;
}
h1 {
    width: 100vw;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.container-main {
    width: 70vw;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(55, 55, 55, 0.5);
}